@model IEnumerable<estudomvc.Models.Endereco>
@{
    Layout = "_LayoutAdmin";
}
<script>
    $(document).ready( function () {
        $('#enderecos').DataTable();
    } );
</script>

<h3>Endereço</h3>
<hr/>
<a  asp-controller="Rh" asp-action="NovoEndereco" class="btn btn-success">Cadastrar novo endereço</a><br>
<br>

<table id="enderecos" class="table table-striped table borded">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Logradouro</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var endereco in Model)
        {
            <tr> 
                <th>@endereco.Id</th>
                <th>@endereco.Logradouro</th>
                <th>@endereco.NomeLogradouro</th>
                <th>@endereco.Numero</th>
                <th>@endereco.Bairro</th>
                <th>@endereco.Cidade</th>
                <th>@endereco.Estado</th>
                <td>
                    <a href="/Rh/EditarEndereco/@endereco.Id" class="btn btn-primary">Editar</a>

                    <form asp-action="Deletar" asp-controller="Endereco" style="display:inline;">
                        <input type="hidden" name="id" id="id" value="@endereco.Id">
                        <button class="btn btn-danger">Deletar</button>
                    </form>                    
                </td>
            </tr>
        }
    </tbody>
</table>